.container {
  width: 100%; }

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 40px; }

nav li {
  display: inline-block; }

nav a {
  color: #000000; }
  nav a:hover {
    color: #333333; }

article {
  padding: 40px; }

#top {
  background-image: url(/img/main_visual.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px; }

#sec1 {
  background-color: antiquewhite;
  min-height: 500px; }

footer address {
  font-size: 0.8rem;
  text-align: center;
  color: #333333; }
